<header class="header" data-module="header">
  <%= link_to 'Skip to main content', '#main-content', class: 'govuk-skip-link' %>

  <div class="header__container">
    <div class="header__logo">
      <%= link_to root_path, class: 'header__link header__link--logo' do %>
      <% end %>
    </div>
    <div class="header__content">
      <nav>
        <ul id="navigation" class="header__navigation" aria-label="Top Level Navigation">
					<li class="header__navigation-item">
						<%= link_to 'Meet', '', class: 'header__link' %>
					</li>
					<li class="header__navigation-item">
						<%= link_to 'Code', '', class: 'header__link' %>
					</li>
					<li class="header__navigation-item">
						<%= link_to 'Write', '', class: 'header__link' %>
					</li>
					<li class="header__navigation-item">
						<%= link_to 'Contact', '', class: 'header__link' %>
					</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
